<header>
  <a href="/" class="logo">Panadería Sánchez</a>
  <nav>
    <ul>
      <li><a href="/upload">Upload</a></li>
      <li><a href="">Mi perfil</a></li>
      <li><a href="">El Tinder de Coder</a></li>
    </ul>
  </nav>
</header>